<html>
    <head>
        <title>My first blog</title>
    </head>
    <body>
      <div>
            <h1><a href="">Django Girls Blog Workshop</a></h1>
        </div>

        <div>
            <p>published: 28.01.2017, 16:02</p>
            <h2><a href="">My first post</a></h2>
            <p>This day has finally come! I am creating my first blog by myself. That's not that easy as it could seem, but after some unsuccessful attempts, it eventually works./p>
        </div>

        <div>
            <p>published: 28.01.2017, 16:02</p>
            <h2><a href="">Sunny Day in Munich</a></h2>
            <p>Yay, it's a weekend and sunny weather in Munich, such a good coincidence! Let's take a walk around the city but stay away from the city center which is packed with tourists and shopaholics. One can go to the Englischer Garten, though</p>
        </div>
    </body>
</html>
